## Email
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=587
SMTP_USERNAME=your-mailjet-api-key
SMTP_PASSWORD=your-mailjet-secret-key
SMTP_FROM=tozikron@gmail.com

## Cloudflare R2
R2_ACCOUNT_ID=your-cloudflare-account-id
R2_BUCKET_NAME=tozikron-music
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_API_TOKEN=your-cloudflare-api-token
